.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.result {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.result .album {
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.result .album img {
  display: block;
  width: 100%;
}

.result .album h5 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}
