button {
  font-family: 'Montserrat', sans-serif;
}

.heroSection {
  margin-top: -80px;
  height: 100vh;
  background: url('../../img/hero.png') center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroText {
  text-align: center;
  color: #000;
}

.heroText h1 {
  font-size: 3em;
  margin: 0;
}

.heroText button {
  color: #fff;
  background: transparent;
  border: solid 2px #fff;
  padding: 10px 30px;
  border-radius: 30px;
  margin: 5px;
  font-weight: bold;
  display: inline-block;
}

.heroText button:hover {
  cursor: pointer;
  background: #fff;
  border: solid 2px #fff;
  color: #333;
}

button.start {
  background: #1bb4d4;
  border: solid 2px #1bb4d4;
}

button.start:hover {
  color: #fff;
  background: #007fba;
  border: solid 2px #007fba;
}

.start > a {
  color: #fff;
  text-decoration: none;
}
.start > a:hover {
  color: #fff;
  text-decoration: none;
}
